html {
    background-color:#000;
//    height:100%;
}

body {
    background-color: #000;
}

img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

div{
    text-align: center;
    display:grid;
}

h1,h2,h3,h4{
    color:#fff;
}

h1{
    font-size:5em;
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #35b9dd;
  border: none;
  border-radius: 10px;
}

.button:hover {background-color: #3acdf2}

.button:active {
  background-color: #3acdf2;
//  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.release-dates{
    color:#fff;
    font-size:1.5em;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom:10px;
}

.headline{
    color:white;
    text-align: center;
    font-family: serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 80px;
}

.container {
    display: grid;
//    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 50px;
}

.container2 {
    display:grid;
    align-contents:center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto auto;
    gap:20px;
    position: relative;
    margin-top:100px;
}

.container3 {
    display: grid;
    text-align: center;
//    grid-template-columns: auto auto auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-content:center;
    gap:10px;
    position: relative;
}

.container4 {
    display: grid;
    text-align: center;
    align-items:center;
//    grid-template-columns: 1fr auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap:100px;
    position: relative;
}

.container5 {
    display: grid;
//    place-self:right;
    align-items:center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap:20px;
    position: relative;
    min-height:100vh;
}

.container6 {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    min-height:100vh;
//    position: relative;
}

main,aside{
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align:center;
}

section{
    height: 100%;
    display: grid;
    align-items: center;
//    justify-content: center;
//    text-align:center;
}

.text {
    color: var(--white);
    position:absolute;
    display: grid;
    align-self: center;
    justify-self: center;
}

.badge {
    position:absolute;
    display: grid;
    align-self: top;
    justify-self: right;
    margin-top:22px;
}

.upper{
    font-size: 2em;
    text-transform: uppercase;
}

.content, .overlay{
    place-self:center;
    margin:auto;
}

#popup{
    display:none;
}

.box{
    cursor:move;
}

.box2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.underline-green{
//    color:#8EF2C1;
    text-align: center;
    box-shadow: 0px 0px 3px 3px #8EF2C1;
}

.underline-red{
//    color:#B35757;
    text-align: center;
    box-shadow: 0px 0px 3px 3px #B35757;
}

.ampersand{
    font-size:180px;
    font-weight:900;
    font-family: cursive;
    font-stretch:ultra-condensed;
    margin-top:20%;
    color:#8EF2C1;
    text-align: center;
}

.glow {
  font-size: 180px;
  color: #8EF2C1;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 4px #fff, 0 0 20px #fff, 0 0 30px #B35757, 0 0 40px #B35757, 0 0 50px #B35757, 0 0 60px #B35757, 0 0 70px #B35757;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.glow-image {
    width: 200px;
    height: 300px;
    border-radius: 5%;
    animation: glow-image 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-image {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px 10px #aef4af;
  }
}

.invite {
    width: 600px;
    height:600px;

    will-change: filter;
  
    transition: filter 1s ease-out;
}

.invite:hover{
    /* offset-x offset-y blur-radius color */
    -webkit-filter: drop-shadow(12px 12px 50px rgba(130, 208, 229, 0.5));
     filter: drop-shadow(12px 12px 50px rgba(130, 208, 229, 0.5));    
}

/*.glowing {
    border-radius: 5%;
    animation: glow-image 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-image {
  from {
    drop-shadow: 0 0 10px -10px #779097;
  }
  to {
    drop-shadow: 0 0 10px 10px #779097;
  }
}*/

@-webkit-keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
.fadeout {
  opacity:0;
  -moz-animation   : fadeout 5s;
  -webkit-animation: fadeout 5s;
  animation        : fadeout 5s;
}
