/* Typography imported from Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gothic A1', sans-serif;
}

p, a {
  font-family: 'Gothic A1', sans-serif;
  font-size:1.9em;
  color:#F676C6;
}

h1,h2,h3,h4{
    color:#fff;
}

h1{
    font-size:3em;
    font-weight: 900;
}

html {
    background-color:#000;
/*    height:100%;*/
}

body {
    background-color: #000;
}

img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

div{
    text-align: center;
    display:grid;
}

.text {
    color: var(--white);
    position:absolute;
    display: grid;
    align-self: center;
    justify-self: center;
}

.box2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

/* START Intro Page */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 50px;
    height:100vh;
  justify-content: center; 
/*  align-content: end; */
  justify-items: center; 
  align-items: center; 
}

.box{
    cursor:move;
}

.underline-green{
/*    color:#8EF2C1; */
    text-align: center;
    box-shadow: 0px 0px 3px 3px #8EF2C1;
}

.underline-red{
/*    color:#B35757; */
    text-align: center;
    box-shadow: 0px 0px 3px 3px #B35757;
}

.ampersand{
    font-size:180px;
    font-weight:900;
    font-family: cursive;
    font-stretch:ultra-condensed;
/*    margin-top:20%; */
    color:#8EF2C1;
    text-align: center;
}
/* END Intro Page */

/* START Welcome Page */
.container3 {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-content:center;
    gap:10px;
    position: relative;
}

cards{
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align:center;
    align-self:center;  
}
/* END Welcome Page */

/* START Cover Page */
.container4 {
    display: grid;
    text-align: center;
    align-items:center;
/*    grid-template-columns: 1fr auto;*/
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
/*    gap:100px;*/
    position: relative;
}

main{
/*    height: 100vh;*/
    display: grid;
    align-items: center;
    justify-content: center;
    text-align:center;
    align-self:center;
    margin:0 20 0 20;
}

aside2{
    display:grid;
    height:100vh;
    align-items: center;
    justify-content: center;
    text-align:center;  
    margin:0 20 0 20;  
}

.badge {
    position:absolute;
    display: grid;
    align-self: top;
    justify-self: right;
    margin-top:120px;
}

.uppercase{
    font-size:1.5em;
    text-transform: uppercase;
}
/* END Cover Page */

/* Character Page in flip2.css file */

/* START Trilogy Page */
.container2 {
    display:grid;
    align-contents:center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto auto;
    gap:20px;
    position: relative;
    margin-top:100px;
}

.release-dates{
    font-family: 'Gothic A1', sans-serif;
    color:#fff;
    font-size:1.5em;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom:10px;
}
/* END Trilogy Page */

/* START Invitation Page */
.container6 {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    min-height:100vh;
}

.content{
    place-self:center;
    margin:auto;
}

.invite {
    width: 600px;
    height:600px;
    will-change: filter;
    transition: filter 1s ease-out;
}

.invite:hover{
    -webkit-filter: drop-shadow(12px 12px 50px rgba(130, 208, 229, 0.5));
     filter: drop-shadow(12px 12px 50px rgba(130, 208, 229, 0.5));    
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #35b9dd;
  border: none;
  border-radius: 10px;
}

.button:hover {
  background-color:#3acdf2;
}

.button:active {
  background-color: #3acdf2;
/*  box-shadow: 0 5px #666;*/
  transform: translateY(4px);
}

#popup{
    display:none;
}
/* END Invitation Page */

/* START About Page */
.container7 {
  display: grid;
/*  width:80%;
  height:700px;*/
  grid-template-columns: minmax(400px, 80%) 1fr;
  grid-template-rows: auto auto;
  grid-auto-rows: 1fr;
  justify-items: center;
  text-align: center;
/*  justify-content: center; */
/*  align-content: center; // don't use */
}

@media (max-width: 1000px) { 
  .item {
    grid-column: span 2;
  }
  .upper{
    font-size:1.5em;
  }
}

.spanner {
  grid-column: span 2;
}

.upper{
    text-transform: uppercase;
    color:white;
}

.Popup {
  grid-area: Popup;
  position:relative;
  top: -85vh;
  order:2;
}
/* END About Page */

.glow {
  font-size: 180px;
  color: #8EF2C1;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 4px #fff, 0 0 20px #fff, 0 0 30px #B35757, 0 0 40px #B35757, 0 0 50px #B35757, 0 0 60px #B35757, 0 0 70px #B35757;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.glow-image {
    width: 200px;
    height: 300px;
    border-radius: 5%;
    animation: glow-image 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-image {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px 10px #aef4af;
  }
}

@-webkit-keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}

.fadeout {
  opacity:0;
  -moz-animation   : fadeout 5s;
  -webkit-animation: fadeout 5s;
  animation        : fadeout 5s;
}