
/* START Spinning Coin */
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* START Spinning Coin */
#coin{
    width: 540px;
    height: 540px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    animation: spin 3s linear infinite;
  }
  .coinback{
    background-image: url('../images/challenge-coin-back.png');
    width: 540px;
    height: 540px;
  }
  
  .coinmiddle{
    background-image: url('../images/angel-coin.png');
    color:#be9d66;
    width: 540px;
    height: 540px;
    transform: translateZ(1px);
    position: absolute;
    top: 0;
    background-blend-mode: overlay;
  }
  
  .coinfront{
      background-image: url('../images/angel-coin.png');
      color:#be9d66;
      width: 540px;
      height: 540px;
      position: absolute;
      top: 0;
      transform: translateZ(10px);
      background-blend-mode: overlay;
  }
  
  .middle:nth-child(1){
    transform: translateZ(1px);
  }
  
  .middle:nth-child(2){
    transform: translateZ(2px);
  }
  
  .middle:nth-child(3){
    transform: translateZ(3px);
  }
  
  .middle:nth-child(4){
    transform: translateZ(4px);
  }
  
  .middle:nth-child(5){
    transform: translateZ(5px);
  }
  
  .middle:nth-child(6){
    transform: translateZ(6px);
  }
  
  .middle:nth-child(7){
    transform: translateZ(7px);
  }
  
  .middle:nth-child(8){
    transform: translateZ(8px);
  }
  
  .middle:nth-child(9){
    transform: translateZ(9px);
  }
  
  @keyframes spin{
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
  }
  /* END Spinning Coin */